.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 25vh;
    width: 100%;
    // background: linear-gradient(
    //     to right,
    //     rgba($primary-color, 0.9),
    //     rgba($primary-color, 0.3)
    //   ),
    //   url("../img/project-1.jpg") center top;
    // background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    background: lighten($primary-color, 10%);
    padding: 0.5rem;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      .projects__btn {
        opacity: 1;
      }

      border-bottom: 5px solid wheat;
    }

    h2,
    h3 {
      margin: 1.5rem 0;
    }

    h4 {
      margin: 1rem 0;
    }

    h5 {
      margin: 1rem 0;
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;
    font-size: 1.5rem;

    &--center {
      grid-column: 1/3;
    }

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  footer {
    padding: 2rem;
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
