@include media-xs {
  .about .jobs {
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  .projects__item {
    &::after {
      content: none !important;
    }
    &:hover {
      border-bottom: 5px solid $secondary-color;
    }
  }

  .projects__items {
    margin: 1rem 1rem;
    width: calc(100% - 2rem);
  }

  .about__bio-image {
    height: 50vh !important;
  }

  .projects__bio-image {
    height: 25vh !important;
  }

  .projects__btns {
    left: 0;
    position: relative;
    margin-bottom: 1rem;
  }

  .projects__btn {
    font-size: 0.8rem;
    opacity: 1;
    color: white;
  }

  .nav .menu-nav {
    padding-right: 0;
  }

  footer,
  .social-icons {
    position: relative !important;
    flex-direction: row !important;
    right: 0 !important;
    left: 0 !important;
    text-align: center !important;
    justify-content: center;
    transform: rotate(0deg) !important;
  }

  header {
    position: relative !important;
    padding: 0 !important;
  }

  .social-icons {
    margin-top: 2rem;
  }

  .home__name {
    font-size: 3rem;
  }

  section.home h2 {
    padding: 1rem;
  }
  .contact h2 {
    font-size: 2.25rem;
  }

  .contact__list {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    font-size: 1.25rem;
    justify-content: center;
    text-align: center;
  }
  .contact__email .text-secondary,
  .contact__phone .text-secondary {
    margin-top: 1rem !important;
  }
}

@include media-sm {
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    text-align: center;
  }

  .social-icons {
    display: flex !important;
    flex-direction: column !important;
    bottom: 0 !important;
    padding-bottom: 2rem !important;
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -5rem) !important;
  }

  .contact__phone {
    text-align: center;
  }
  .contact__email {
    text-align: center;
  }

  .social-icons-index,
  .social-icons-contact,
  .footer-home,
  .footer-contact {
    position: relative !important;
    flex-direction: row !important;
    right: 0 !important;
    left: 0 !important;
    text-align: center !important;
    justify-content: center;
    transform: rotate(0deg) !important;
    margin-top: 2rem !important;
  }

  .projects__item {
    &::after {
      content: none !important;
    }
    &:hover {
      border-bottom: 5px solid $secondary-color;
    }
  }

  .projects__btns {
    left: 0;
    position: relative;
    margin-bottom: 1rem;
  }

  .projects__btn {
    font-size: 0.8rem;
    opacity: 1;
    color: white;
  }

  .projects__items,
  .about .jobs {
    width: 70vw !important;
  }

  .social-icons-contact,
  .social-icons-index {
    margin-top: 2rem !important;
  }

  header {
    position: absolute !important;
    padding: 1rem 0 !important;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
    position: relative !important;
    width: 100%;
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;
      padding-right: 0;
      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
        padding: 1rem 0 !important;
      }
    }
  }
}

@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  header {
    position: relative !important;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about__bio {
    font-size: 1.25rem;
  }

  // .about .social-icons {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .about footer {
  //   transform: rotate(90deg) translate(-3rem, -5rem);
  // }

  .projects {
    &__items {
      width: 70vw;
    }
  }

  .jobs {
    width: 70vw !important;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  .contact__phone {
    text-align: center;
  }
  .contact__email {
    text-align: center;
  }
}

@include media-lg {
  .home {
    padding-top: 20vh;
  }
  header {
    position: relative !important;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    text-align: center;
  }
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    padding: 10px !important;
    visibility: visible;
    position: relative !important;
    height: fit-content;
    width: 100% !important;
    .menu-nav {
      height: fit-content;
      position: relative !important;
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .projects .social-icons,
  .about .social-icons {
    flex-direction: row !important;
  }

  .projects footer,
  .about footer {
    transform: rotate(0deg);
    padding-bottom: 1rem;
    right: 0;
  }

  .about__bio p {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .about__bio-image {
    justify-content: center !important;
  }
}
